/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	/*position: relative;*/
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

.center {
  margin: 0 auto;
}

.heading {
  display: block;
  font-weight: bolder;
  color: rgba(111, 127, 122, 0.7);
  font-family: 'Baskerville', serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-separator {
  opacity: .2;
}

.big-heading {
  font-size: 5em;
}

.small-heading {
  font-size: 2em;
}

.bordered {
  border: 5px solid rgba(111, 127, 122, 0.7);
}

.picture-row {
  width: 100%;
}

.image-in-row {
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
  width: 20%;
}

.picture-row figure:nth-child(1) {
  margin-left: 0;
  margin-right: 3%;
}

.picture-row figure:nth-child(4) {
  margin-left: 3%;
  margin-right: 0;
}